/*abstracts*/
/*base*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  /*background: white;*/
  position: relative;
}

/*layout*/
.menu-container {
  max-width: 1100px;
  margin: 0 auto;
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1000;
  padding: 0 10px;
}
.menu-container .logo img {
  width: 150px;
}
.menu-container .navbar ul li {
  position: relative;
  float: left;
}
.menu-container .navbar ul li a {
  font-size: 18px;
  padding: 20px;
  color: gray;
  display: block;
  text-decoration: none;
}
.menu-container .navbar ul li a:hover {
  color: white;
}
.menu-container label {
  cursor: pointer;
  display: none;
}

.back {
  padding: 32px 0;
  background-color: #f1d7ff;
  height: 90px;
}

#menu {
  display: none;
}

.menu-icono {
  width: 25px;
}

.aviso {
  background: yellow;
  text-align: center;
  margin-top: 3px;
}

/*components*/
.wrapper-bijou ul {
  background-color: whitesmoke;
}
.wrapper-bijou ul li a {
  color: white;
  background: rgb(211, 176, 252); /*cambie el color*/
}
.wrapper-bijou ul li a:hover {
  letter-spacing: 0.7px;
  transform: scale(1.03);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.caja-bijou {
  background: rgb(255, 216, 222);
}
.caja-bijou:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.login-container {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  align-items: center; /**/
  justify-content: center; /**/
}

.caja-login {
  padding: 70px;
  text-align: center;
  border-radius: 5px;
  background: #e0e0fd;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  margin: 40px;
}
.caja-login img {
  height: 20px;
  padding-top: 3px;
  position: relative;
  top: 0;
  left: -0.51rem;
}
.caja-login span {
  color: #0a0a0a;
  padding: 10px 0;
  font-size: 16px;
  line-height: 1.5;
}

.title-inicio {
  color: rgb(87, 87, 87);
  text-transform: capitalize;
  font-size: 1.55rem;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 20px;
}

.section-social {
  border: 1px solid white;
  letter-spacing: 0.5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 10px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.897);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.section-social:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.wrapper-taza ul {
  background-color: whitesmoke;
}
.wrapper-taza ul li a {
  color: white;
  background: rgba(54, 119, 216, 0.329);
}
.wrapper-taza ul li a:hover {
  letter-spacing: 0.7px;
  transform: scale(1.03);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.caja-taza {
  background: rgba(81, 155, 81, 0.541);
}
.caja-taza:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

section {
  text-transform: capitalize;
  transition: 0.2s linear;
}

.container {
  background: white;
  padding: 15px 9%;
  padding-bottom: 100px;
}
.container .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 15px;
}
.container .box-container .box {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background: #f1d7ff;
  text-align: center;
  padding: 30px 20px;
}
.container .box-container .box img {
  width: 290px;
}
.container .box-container .box h2 {
  color: rgb(94, 93, 93);
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 0;
}
.container .box-container .box ul {
  color: rgb(94, 93, 93);
  font-family: Arial, Helvetica, sans-serif;
  padding: 4.5px 0;
  text-align: center;
  font-size: 18px;
  line-height: 1.8;
}
.container .box-container .box .btn {
  margin-top: 10px;
  display: inline-block;
  color: white;
  background: #d186fa;
  font-size: 17px;
  border-radius: 5px;
  padding: 8px 25px;
}
.container .box-container .box .btn:hover {
  letter-spacing: 1px;
}
.container .box-container .box:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  transform: scale(1.03);
}

.wrapper {
  margin: 10px auto;
  padding: 0 10px;
  padding-bottom: 10px;
  text-transform: capitalize;
}

h3 {
  background-color: palegreen;
  font-size: 45%;
  text-align: center;
  padding-bottom: 9px;
  padding-top: 9px;
  text-shadow: 0 15px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.titulo {
  color: white;
}

.contacto-container {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}

.caja {
  padding: 70px;
  text-align: center;
  border-radius: 5px;
  background: rgb(255, 216, 222);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  margin: 20px;
}

.caja img {
  height: 50px;
  padding-top: 3px;
}

.caja p {
  color: #444;
  padding: 10px 0;
  font-size: 20px;
  line-height: 1.6;
}

.btn {
  color: white;
  border: none;
  outline: none;
  font-size: 17px;
  margin-top: 10px;
  padding: 8px 15px;
  background: wheat;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
}

.caja .btn {
  background: white;
  color: #333;
}

.btn:hover {
  letter-spacing: 1px;
}

.caja:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.wrapper-bijou, .wrapper-taza {
  margin: 10px auto;
  padding: 0 10px;
  padding-bottom: 10px;
  text-transform: capitalize;
}

h1 {
  background-color: rgb(224, 198, 164);
  font-size: 300%;
  text-align: center;
  padding-bottom: 9px;
  padding-top: 9px;
  text-shadow: 0 15px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.wrapper-bijou ul, .wrapper-taza ul {
  display: flex;
  justify-content: space-around;
  font-size: 100%;
  text-align: center;
  padding-bottom: 0px;
  padding-top: 7px;
  padding-left: 7px;
  padding-right: 7px;
  text-shadow: 0 15px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.wrapper-bijou ul li a, .wrapper-taza ul li a {
  border: none;
  outline: none;
  font-size: 15px;
  padding: 6px 16px;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
}

.bijou-container, .taza-container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.caja-bijou, .caja-taza {
  padding: 70px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  margin: 20px;
}

.caja-bijou img, .caja-taza img {
  height: 250px;
  padding-top: 3px;
  width: 100%;
}

.caja-bijou p, .caja-taza p {
  color: #444;
  padding: 10px 0;
  font-size: 20px;
  line-height: 1.6;
}

/*comparte: registro y contacto*/

/*# sourceMappingURL=style.css.map */
