.wrapper-taza{
   @extend %b-t-c;

    ul {
        background-color: nth($colores, 4 );
        @extend %wrapper-ul;
           

        li{
            a{
                color: nth($colores, 1 );
                background:  rgba(54, 119, 216, 0.329);
                @extend %lista-box;

                &:hover{
                    letter-spacing: 0.7px;
                    transform: scale(1.03);
                    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
                }
            }
        }
    }
}
h1{
   @extend %h1;
}

.taza-container {
    @extend %container-products;
    
}
.caja-taza {
    background: rgba(81, 155, 81, 0.541);
    @extend %boxs-1;

    img{
        @extend %boxs1-img;
    }

    p{
       @extend %boxs1-p;
    }

    &:hover{
        transform: scale(1.03);
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    }
}

